@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  background-color: #fafafa;

  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 1240px;
  font-family: "Playfair Display", serif;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Link {
  text-decoration: none;
  cursor: pointer;
}

/******************************** Header Nav menu **************************************/
.menu__container {
  position: relative;
  background: black;
  width: 100vw;
  z-index: 10;
}
.menu {
  /* position: relative; */
  left: 0;
  position: fixed;
  border-right: white 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 100%;
  z-index: 10;
  color: white;
  mix-blend-mode: difference;
}
.menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 50px;
}
.menu__right {
  display: flex;
  align-items: center;
}
.menu__trait {
  border: 1px solid white;
  width: 15px;
  margin: 5px 5px;
}
.menu__xxx {
  display: flex;
  align-items: center;
  /* border-top: 2px solid black;
  margin-top: 10px;
  padding-top: 10px; */
}
.space__arround {
  display: flex;
}

/************************************** Menu hidden ***************************************/

/* .menu__showorhidden {
  position: absolute;
  border: 1px solid red;
  width: 60%;
  height: 100%;
  z-index: 3;
}
.menu__show {
  position: absolute;
  background-color: royalblue;
  height: 100%;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */

/* .menu__showorhidden {
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}
.menu__show {
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: sticky;
  height: 100%;
  width: 100%;
}
.menu__show2 {
  position: fixed;
  background: rebeccapurple;
  height: 100%;
  width: 70%;
  overflow: hidden;
} */

/************************************** Navigation ***************************************/

/* .navigation__title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__menu h2 {
  font-weight: 900;
  font-family: "Playfair Display", serif;
  font-size: 4em;
  color: white;
  text-transform: uppercase;
}
.navigation__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100px;
  margin-left: 100px;
}
.navigation__rightbottom {
  display: flex;
}
.navigation__rightbottom p {
  margin: 0 10px 20px 10px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  font-size: 0.9em;
  color: white;
  text-transform: uppercase;
}
.navigation__menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-left: 100px;
}

.picture {
} */

/************************************** picture ***************************************/

.picture {
  height: 70vh;
  width: 100vw;
  object-fit: cover;
  /* backdrop-filter: ; */
}
.text__deroulant {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.text__deroulant h2 {
  color: white;
  mix-blend-mode: difference;
  z-index: 7;
  font-weight: 900;
  font-size: 7em;
  text-transform: uppercase;
  overflow: scroll;
}
/* .background__text {
  z-index: 9;
} */
.text_h2 {
  height: 100px;
}
/***** supprime above *******/
.text__conquerant {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
  background: black;
  width: 100vw;
  height: 50vh;
  top: -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__conquerant span {
  color: white;
  font-weight: 900;
  font-size: 5.9em;
  text-transform: uppercase;
}
.text__icon {
  margin: 0 5px;
}
.text__conquerant section {
  bottom: 138px;
}

/* ---------------------------- */
/* Défilement de droite à gauche */

section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

section .scroll {
  width: 100%;
}

section .scroll div {
  white-space: nowrap;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(100);
  }
  100% {
    transform: translateX(-100%);
  }
}

/************************************** Resultat Block ***************************************/
.resultat__contain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 240px;
  color: white;
  width: 100vw;
  box-sizing: border-box;
}
.resultat__score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid wheat;
  height: 170px;
  width: 700px;
  border-radius: 25px;
}
.resultat__score span {
  margin: 0 10px;
  font-family: "Anton", sans-serif;
  font-size: 1.9em;
}
.resultat__score h3 {
  font-family: "Anton", sans-serif;
  font-size: 1.9em;
  color: #eab543;
}
.resultat {
  position: relative;
  left: 100px;
}
.resultat p {
  font-size: 40px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
}
.resultat__score2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
